{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="UTF-8">
    <title>Login Administrador</title>
   <link rel="stylesheet" href="../static/css/panel.css">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   </head>

   <h2>Correos verificados</h2>

<ul>
    {% for c in correos %}
        <li>{{ c }}</li>
    {% endfor %}
</ul>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="asunto" placeholder="Asunto">
    <textarea name="mensaje" placeholder="Mensaje"></textarea>
    <button type="submit">Enviar notificaciones</button>
</form>

{% if ok %}<p style="color:green">{{ ok }}</p>{% endif %}
</html>